.board {
	width: 640px;
	height: 640px;
	border: 10px solid #AA5500;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.black {
	position: relative;
	width: 80px;
	height: 80px;
	background-color: #A97F4D;
	float: left;
}
.white {
	position: relative;
	width: 80px;
	height: 80px;
	background-color: #E9D1A3;
	float: left;
}
img {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}